html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 300;
  background: #fcfcfc;
  overflow-x: hidden;
}

/*Nav Menu*/

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  text-align: right;
  opacity: 0.25;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

nav ul:hover {
  opacity: 1;
}

nav li {
  display: inline-block;
  margin: 10px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

nav li:hover .fas {
  cursor: pointer;
  background: #16a085;
}

nav li a .fas {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #444;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #ccc;
}

/*Popup Info*/
#popupInfo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 15px;
  background: #fff;
  color: #555;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
          box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  display: none;
  z-index: 9999;
}

#popupInfo #content {
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
  font-size: 20px;
}

#popupInfo img {
  width: 150px;
  height: 125px;
  margin: 15px auto;
  display: inline;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#popupInfo a {
  text-decoration: none;
  color: #555;
  border-bottom: 1px dotted #555;
}

.close {
  position: relative;
  float: right;
}

.close:hover {
  cursor: pointer;
}

/*Header*/

.header {
 
  background: linear-gradient(to right, rgba(26, 188, 156, 0.7), rgba(192, 57, 43, 0.5)), 
              url("../images/desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  font-family: 'Quicksand';
}

.header h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.header h2 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  width: 520px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: 'Open Sans';
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.header .txtbg {
  position: relative;
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Top box section*/
.contain {
  padding: 0 0 100px 0;
  width: 100%;
  height: 250px;
  background: #fcfcfc;
}

.box {
  float: left;
  width: 30%;
  margin: -65px 1.66% 1.66%;
  padding: 15px 0;
  color: #222;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 2px 15px 3px rgba(0,0,0,0.02);
          box-shadow: 2 0 10px 3px rgba(0,0,0,0.02);
          border-bottom: 3px solid rgba(0,0,0,0.05);
  z-index: 2;
}

.box .icon {
  background: #1abc9c; 
  height: 55px;
  width: 55px;
  line-height: 55px;
  color: #fff;
  border-radius: 50%;
}

.box h2 {
  font-size: 32px;
  font-weight: 300;
}

.box p {
  width: 80%;
  margin: 0 auto 25px auto;
}

.box button {
  border: none;
  background: none;
  color: #777;
  padding: 10px 15px;
  border-radius: 3px;
  border: 2px solid #777;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background: #16a085;
  border: 2px solid #16a085;
  color: white;
}

/*Separater*/
.divider {
  width: 100%;
  background: linear-gradient(rgba(149, 165, 166, 0.75),rgba(149, 165, 166, 0.75)), url('../images/hypnotize.png');
  padding: 45px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: whitesmoke;
  font-size: 35px;
  font-family: "Open Sans";
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider button {
  padding: 10px 15px;
  margin: 0 20px;
  background: #1abc9c;
  color: #fcfcfc;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
}

.divider button:hover {
  background: #16a085;
  cursor: pointer;
}

/*Featurette*/

.featurette {
  width: 95%;
  margin: 0 auto;
  padding: 90px 10% 45px 10%;
  color: #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.featurette h1 {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  height: 100%;

}

.featurette #responsiveImg {
  width: 50%;
  height: auto;
  margin: 1.5% 0;
  display: block;
  margin: 10px auto;
}

.featureDetails p {
  margin: 10px auto;
  max-width: 90%;
}

/*Main Content*/

.main {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main h1 {
  font-size: 36px;
  font-weight: 300;
}

.main p {
  font-size: 18px;
  text-align: left;
}

.main .section {
  width: 75%;
}


/*About Me*/

.aboutMe {
  margin: 50px 0;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0.96)), to(rgba(51, 51, 51, 0.96))), url("../images/about-me.jpg");
  background: -webkit-linear-gradient(rgba(51, 51, 51, 0.96), rgba(51, 51, 51, 0.96)), url("../images/about-me.jpg");
  background: -o-linear-gradient(rgba(51, 51, 51, 0.96), rgba(51, 51, 51, 0.96)), url("../images/about-me.jpg");
  background: linear-gradient(rgba(68,68,68,0.98), rgba(68,68,68,0.98)), url("../images/about-me.jpg");
  background-size: cover;
  background-position: center bottom;
  color: whitesmoke;
}

.aboutMe span {
  position: relative;
  display: block;
  padding: 100px 0 125px 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: whitesmoke;
  width: 60%;
  top: 0;
  left: 0;
}

.profileImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: lightblue;
}

.aboutMe:before {
  content: "";
  background: white;
  height: 80px;
  -webkit-transform: skewY(-2deg);
      -ms-transform: skewY(-2deg);
          transform: skewY(-2deg);
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  z-index: 1;
}

.aboutMe:after {
  content: "";
  background: white;
  height: 80px;
  -webkit-transform: skewY(2deg);
      -ms-transform: skewY(2deg);
          transform: skewY(2deg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
}


/*Project Section*/

.projects {
  width: 95%;
  margin: 0 0 50px 0;
}

.projects .project {
  float: left;
  height: auto;
  position: relative;
  margin: 1.66%;
  width: 30%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.project img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.projectDetails {
  position: absolute;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: whitesmoke;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(51, 51, 51, 0.95);
  border-radius: 2px;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);  
  -webkit-transition: all 0.2s ease-out;  
  -o-transition: all 0.2s ease-out;  
  transition: all 0.2s ease-out;
}

.project:hover .projectDetails {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);  
}

.projectDetails h5 {
  margin: 0;
}

.projectDetails button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: #5f97ef;
  color: #fff;
  margin: 5px;
  outline: none;
}

.projectDetails button:hover {
  cursor: pointer;
}


/*Footer*/

footer {
  width: 100%;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #0E1012;
  color: #555;
  font-size: 14px;
  text-align: center;
}

footer .fa-heart {
  color: #c65353;
}

footer .social .fab {
  padding: 10px;
  font-size: 20px;
  color: #555;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

footer .social .fab:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 926px) {
  nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  nav .fa-bars {
    display: block;
    text-align: right;
    margin: 10px;
    color: #ccc;
  }
  nav ul {
    opacity: 1;
  }
  .header {
    height: 100vh;
  }
  .header .txtbg {
    height: 100%;
  }
  .header h1 {
    font-size: 36px;
  }
  .header h2 {
    font-size: 18px;
    width: 250px;
  }
  .contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 35px 0;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow: hidden;
    height: auto;
  }
  .box {
    height: auto;
    display: block;
    float: none;
    width: 500px;
    max-width: 95%;
    margin: 0 auto;
    padding: 25px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .box:last-of-type {
    border-bottom: none;
  }

  .divider {
    flex-direction: column;
  }

  .divider button {
    margin: 15px 0 0;
  }
  
  .featurette {
    padding: 40px 0 0 0;
    margin: 0 auto;
    border: none;
  }
  
  .main .section {
    width: 95%;
  }

  .aboutMe span {
    width: 95%;
  }

  .projects .project {
    float: none;
    margin: 25px auto;
    width: 95%;
    height: auto;
  }

  .featurette h1 {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: 0;
  }
  .featurette #responsiveImg {
    width: 75%;
    float: none;
  }
}